body
{
	background-color: #020000 !important;
}

@font-face {
	font-family: Avengers;
	src: url('BankGothicBold.ttf');
}

.deniedpic
{
	position: relative;
	width: 500px;
	height: 100%;
	top: 5px;	
	left: 425px;
}

.scrolldenied
{
	color: white;
	font-family: Avengers;
}

.goback
{
	position: absolute;
	left: 640px;
	bottom: 590px;
	font-family: Avengers;
}