body, html{
	background-color: #485963;
	margin: 0px;
	font-size: 22px;
}

#heading{
	background-color: #485963;
	width: 100%;
	height: relative;
	padding: 12px;
	margin-bottom: 40px;
	color: #485963;
	position: fixed;
}

#name {
	background-color: black;
	color: white;
	float:left;
	font-family: Helvetica;
	font-size: 12px;
	padding: 12px;
	padding-left: 20px;
	padding-right: 20px;
	margin-left: 15px;
	border: 4px solid;
	border-color: #c25331;
}

#email{
	background-color: rgb(231, 231, 212);
	color: #c25331;
	float:right;
	font-family: Helvetica;
	font-size: 20px;
	border-radius: 10px;
	padding: 5px;
	margin-right: 35px;
	margin-top: 5px;
}

#clear{
	background-color: rgba(39, 57, 66, 1);
	position: fixed;
	width: 100%;
	height: 31px;
	margin-left: 150px;
	margin-top: 70px;
	color: rgba(39, 57, 66, 1);
}

.title{
	background-color: #c25331;
	position: fixed;
	width: 100%;
	color: white;
	font-family: Helvetica;
	margin-top: 88px;
	list-style-type: none;
}

#hleft{
	float: left;
}

#hright{
	float: right;
}

.left{
	background-color: rgb(231, 231, 212);
	position: fixed;
	float: left;
	padding-top: 18px;
	margin-left: 12px;
	margin-top: 213px;
	border-radius: 26px;
	width: 203px;
	text-align: center;	
	font-family: Helvetica;
}

.sub1{
	background-color: black;
	color: white;
	height: relative;
	font-size: 12px;
	padding: 12px;
	padding-left: 34px;
	padding-right: 34px;
	margin-right: 9px;
	margin-left: 9px;
	margin-bottom: 20px;
	border: 4px solid #c25331;
}

#scroll{
	background-color: rgba(39, 57, 66, 1);
	min-width: 450px;
	margin-left: 150px;
	padding-top: 215px;
	padding-left: 140px;
	padding-bottom: 50px;
}

.form_container{
	background-color: #333;
	color: white;
	font-family: Helvetica;
	text-align: center;
	height: relative;
	width: 88%;
	min-width: 450px;
	padding-top: 10px;
	border: 1px solid;
	border-color: black;
	z-index: 1;
}

#question_container{
	background-color: #383836;
	text-align: center;
	height: relative;
	width: relative;
	padding: 20px;
	padding-top: 1px;
	margin-top: 10px;
	font-size: 18px;
}

#submit_button{
	background-color: black;
	color: white;
	font-size: 20px;
	border: 3px solid #c25331;
	padding: 40px;
	padding-left: 60px;
	padding-right: 60px;
	margin: 20px;
	margin-left: 25%;
	margin-right: 25%;
}

#radio{
	background-color: rgba(39, 57, 66, 1);
	color: ivory;
	border: 4px solid #485963;
	min-width: 150px;
	padding: 12px;
	padding-left: 18px;
	margin-left: 24%;
	margin-right: 24%;
	text-align: left;
}

input{
	background-color: rgba(39, 57, 66, 1);
	color: ivory;
	border: 4px solid #485963;
	padding: 12px;
	padding-left: 40px;
	margin: 20px;
}

a:link{
	text-decoration: none;
}

a:hover{
	text-decoration: none;
	font-weight: bolder;
}

a:visited{
}



h2{
	text-align: center;
}

ul{
	list-style-type: none;
}

