html
{
	background-color: black;
}


.HI
{
	width: 100px;
	height: 60px;
	float: right;

}


@font-face {
  font-family: 'avenger';
  src: url('avenger.otf');


.avengers
{
	font-family: "avenger";
}

