img{
   max-width: 15%;
   max-height:20%;
   cursor: pointer;
}
.cardMe{
   display: inline;
   height: 100%;
}
.handy{
   width: 100%;
   height: 20%;
}
.board{
   text-align: center;
   height: 100%;
   margin-left: 10%;
   margin-right: 10%;
   margin-top:50px;
}

html{
   background-color: black;
   cursor:url(Leaf.png),auto;
}

img{
   cursor:url(LeafGlow.png),auto;
}
