div
{
   text-align: center;
   margin-left: 20%;
   margin-right: 20%;
   padding-bottom: 32px;
   position: relative;
   z-index: 0;
}

.thingy
{
   background-color: #3f48cc;
   color: #03ef26;
   border-style: ridge;
   border-color: #4418c5;
}

.otherthingy
{
   position: fixed;
   z-index: 2;
   right: -15%;
   bottom: -37px;
   
}

li
{
   text-align: left;
}

.horde
{
   text-color: #ff0000;
}
.alliance
{
   text-color: #0000ff;
}