.mainContainer
{
	height:60%;
	width:100%;
	background:lightblue;
}
.quoteButton
{
	height:auto;
	width:auto;
	float:right;
	background:rgb(0,178,238);
	border-radius:5px;
	font-size:20;
	color:white;
	padding-top:0.5%;
	padding-bottom:0.5%;
}
.phone
{
	height:auto;
	width:auto;
	float:right;
	background:orange;
	border-radius:5px;
	font-size:20;
	color:white;
	padding-top:0.5%;
	padding-bottom:0.5%;
}
.spacer
{
	float:right;
	padding-left:0.5%;
	color:lightblue;
}
.centerAd
{
	height:50%;
	width:50%;
	font-size:30;
	background:lightblue;
	color:white;
	padding-left:25%;
	padding-top:15%;
	padding-right:5%;
}
.learnMore
{
	height:auto;
	width:auto;
	background:orange;
}