html
{
	background-color: lightgrey;
}
select
{
	background-color: black;
	color: lightgrey;
}
input
{
	background-color: black;
	color: lightgrey;
}
li
{
	list-style-type:none;
}

.align 
{
	width: 100px;
	display: inline-block;
	text-align: right;
}