<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="HTML-3.css">
</head>
<body><h1>Fun Trivia Questions</h1>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<br>


<div>
	<img style="vertical align middle src="http://www.buzzle.com/images/cliparts/bullets/sphere1.png"
	If cats are feline,dogs are canine, what are bears?</p>

answer: Ursine
http://38.media.tumblr.com/tumblr_lbc4qu9qPx1qzgzk7o1_500.jpg
</div>


<div>
<p>img style="vertical align middle src="http://www.buzzle.com/images/cliparts/bullets/sphere2.png"
What is a group of Ravens called?</p>
Answer: Unkindness<br>
http://s3-ec.buzzfed.com/static/enhanced/webdr05/2013/6/5/20/enhanced-buzz-8587-1370480321-1.jpg
</div>

<div>
<p>img style="vertical align middle src="http://www.buzzle.com/images/cliparts/bullets/sphere3.png"
What is a group of Unicorns called?</p>
Answer: A Blessing<br>
http://i1031.photobucket.com/albums/y380/seven7eleven11/Unicorn/unicorneleven.jpg
</div>

<div>
<p>img style="vertical align middle src="http://www.buzzle.com/images/cliparts/bullets/sphere4.png"
How many letters does a world's longes name have?</p>
Answer: 786 letters<br>
</div>

<div>
<p>img style="vertical align middle src="http://www.buzzle.com/images/cliparts/bullets/sphere5.png"
Say a sentence that contains all the letters of the alphabet atleast once.</p>
Answer: The brown fox jumps over the lazy dog.
http://drawception.com/pub/panels/2012/8-20/ssHOQHYDPS-2.png
</div>



</body></html>