body
{
	background-color: white;
	margin: 0;
	padding: 0;
}

.darkertop
{
	background-color: #0F1F2E;
	position: fixed;
	z-index: 3;
	width: 100%;
	height: 35px;
}

.darktop
{
	background-color: #293139;
	position: fixed;
	z-index: 2;
	width: 100%;
	height: 120px;
}

.greytop
{
	background-color: lightgrey;
	position: fixed;
	z-index: 1;
	width: 100%;
	height: 175px;
}

.maindiv
{
	background-color: #9cdcf2;
	height: 50%;
	padding-top: 15%;
}

.center
{
	text-align: center;
	width: 40%;
	margin-left: 30%;
	margin-right: 30%;
}

.white
{
	color: white;
}

.connectpic
{
	background-image: url(connectorpic.png);
	background-position: top;
	background-repeat: no-repeat;
	width: 100%;
	height: 180px;
}

.bottomlinks:hover
{
	color: lightblue;
}

.table
{
	text-align: center;
	width: 50%;
	margin-left: 25%;
	margin-right: 25%;
}

.outline
{
	border: 2px;
	border-color: grey;
}

.outline:hover
{
	border-color: orange;
}

.td1
{
	background-image: url(netsuite.png);
	background-repeat: no-repeat;
	width: 305px;
	height: 200px;
}

.td2
{
	background-image: url(connectmagneto.png);
	background-repeat: no-repeat;
	width: 305px;
	height: 200px;
}

.td3
{
	background-image: url(connectshopify.png);
	background-repeat: no-repeat;
	width: 305px;
	height: 200px;
}

.td4
{
	background-image: url(amazon.png);
	background-repeat: no-repeat;
	width: 305px;
	height: 200px;
}

.td5
{
	background-image: url(webstore.png);
	background-repeat: no-repeat;
	width: 305px;
	height: 200px;
}

.td6
{
	background-image: url(fulfillment.png);
	background-repeat: no-repeat;
	width: 305px;
	height: 200px;
}

.td7
{
	background-image: url(lightspeed.png);
	background-repeat: no-repeat;
	width: 305px;
	height: 200px;
}

.td8
{
	background-image: url(ebay.png);
	background-repeat: no-repeat;
	width: 305px;
	height: 200px;
}

.td9
{
	background-image: url(bigcommerce.png);
	background-repeat: no-repeat;
	width: 305px;
	height: 200px;
}
