body
{
	background-color:rgb(156,220,242) ;
	margin: 0;
}
.logo
{
	display: inline-block;
}
.button
{
	position: relative;
	float:right;
	font-size:100%;
	text-align: center;
	width:relative;
	display: inline-block;
	padding-top:20px;
	padding-left: 6px;
	padding-right: 6px;	
	height:35px;
	right:15%;
	color:rgb(114,117,132);
}
.button:hover
{
	color:white;
	cursor:pointer;
}
.shadow
{
	text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
}
.box
{
	border-radius: 0px 10px 0px 10px;
	background-color:rgb(238,117,65);
}
.box:hover
{
	background-color:rgb(59,62,75);
	cursor:pointer;
}