
.spilledDaBeans{
   background-color: #1F7A99;
   text-align: center;
   margin-top: 60px;
   padding-top: 40px;
}

html{
   background-color: black;
   cursor:url(CardGame/Leaf.png),auto;
}

img{
   cursor:url(CardGame/LeafGlow.png),auto;
}
