@font-face{
	font-family: StarwarsOutline;
	src: url('StarkillerOutline.ttf');
}

@font-face{
	font-family: Starwars;
	src: url('Starkiller.ttf');
}

body, html{
	margin:0;
	padding: 0;
	height: 100%;
	font-family: Starwars;
	background-color: black;
}

a:hover{
	text-decoration: none;
}

i:hover{
	cursor: pointer;
}

.depth{
	font-size: 32.5px;
	text-shadow:
		/*Cast*/
		0 5px 1px black,
		/*Outline*/
		0 1px 0 black,
		0 -1px 0 black,
		-1px 0 0 black,
		1px 0 0 black;		
	transition: all .2s ease-in-out;
}

.depth:hover{
	font-size: 34px;
	text-shadow:
		/*Cast*/
		0 9px 4px black,
		/*Outline*/
		0 1px 0 black,
		0 -1px 0 black,
		-1px 0 0 black,
		1px 0 0 black;
	transition: all .2s ease-in-out;
}

#msite.jump{
	font-size: 32.5px;
}

#msite.jump:hover{
	font-size: 34px;
}

#mbars.large{
	font-size: 32.5px;
}

#mbars.large:hover{
	font-size: 36px;
}

#mbars{
	font-size: 32.5px;
}

.container{
	color: white;
	margin: 0;
	padding: 0;
	width: 100%;
	text-align: center;
}

header{
	height: 0;
	width: 100%;
	position: fixed;
	z-index: 10;
	/*Speed of blue div fade when scrolling at the top*/
	/*Politely enter page*/
	transition: all .4s ease-in-out;
}

header.poof{
	height: 0;
	/*Speed of div fade when mid page*/
	/*Quickly exit page*/
	transition: all .3s ease-in-out;
}

header.show{
	background-color: rgba(232,225,27,.9);
	color: white;
	height: 80px;
	/*Speed div appears mid page*/
	transition: all .3s ease-in-out;
}

header.expands{
	background-color: rgba(232,225,27,.9);
	color: white;
	height: 100%;
	/*Speed div appears mid page*/
	transition: all .3s ease-in-out;
}

#site{
	position: fixed;
	z-index: 10;	
	transition: all .3s ease-in-out;
}

#site p{
	float: left;
	margin-left: 30px;
	font-size: 32.5px;
	color: rgba(232,225,27,1);
	margin-top: 37px;
	transition: all .3s ease-in-out;
}

#site.poof p{
	color: black;
	margin-top: -42px;
	/*Speed #msite disapears scrolling up*/
	transition: all .3s ease-in;
}

#site.show p{
	display: block;
	color: white;
	margin-top: 12px;
	transition: all .3s ease-in-out;
}

header i{
	float: right;
	margin-right: 30px;
	color: rgba(232,225,27,1);
	margin-top: 43px;
	transition: all .3s ease-in-out;
}

header.poof i{
	color: black;
	margin-top: -32px;
	/*Speed #mbars disapears srolling up*/
	transition: all .3s ease-in-out;
}

header.show i{
	color: white;
	margin-top: 25px;
	transition: all .3s ease-in-out;
}

.link0{
	display: none;
	margin-top: 1101px;
	position: fixed;
	z-index: 10;
	width: 100%;
}

.link0:hover{
	background-color: white;
}

.link0 p{
	padding-top: 28px;
	padding-bottom: 28px;
	color: white;
	margin: 0;
}

.link0 p:hover{
	color: rgb(232,225,27);
}

.link1{
	display: none;
	margin-top: 1202px;
	position: fixed;
	z-index: 10;	
	width: 100%;
}

.link1:hover{
	background-color: white;
}

.link1 p{
	padding-top: 28px;
	padding-bottom: 28px;
	color: white;
	margin: 0;
}

.link1 p:hover{
	color: rgb(232,225,27);
}

.link2{
	display: none;
	margin-top: 1303px;
	position: fixed;
	z-index: 10;	
	width: 100%;
}

.link2:hover{
	background-color: white;
}

.link2 p{
	padding-top: 28px;
	padding-bottom: 28px;
	color: white;
	margin: 0;
}

.link2 p:hover{
	color: rgb(232,225,27);
}
/*link3*/
.link3{
	display: none;
	margin-top: 1404px;
	position: fixed;
	z-index: 10;	
	width: 100%;
}

.link3:hover{
	background-color: white;
}

.link3 p{
	padding-top: 28px;
	padding-bottom: 28px;
	color: white;
	margin: 0;
}

.link3 p:hover{
	color: rgb(232,225,27);
}
/*link4*/
.link4{
	display: none;
	margin-top: 1505px;
	position: fixed;
	z-index: 10;	
	width: 100%;
}

.link4:hover{
	background-color: white;
}

.link4 p{
	padding-top: 28px;
	padding-bottom: 28px;
	color: white;
	margin: 0;
}

.link4 p:hover{
	color: rgb(232,225,27);
}

.heady{
	font-family: StarwarsOutline;
	color: rgb(232,225,27);
}
