<html>
<head>
	<title>Layout</title>
	<link rel="stylesheet" href="site.css">
</head>
<body>
	
	<div class="container">
		

		<div class="menu-container">
			
			<ul class="list-unstyled list-inline menu">
				
				<li>
					<span class="menu-item">Option 1</span>


					<div class="submenu-container">
						

						<div class="section">
							Example 1
						</div>

						<div class="article">
							<ul>
								<li>test 1</li>
								<li>test 2</li>
								<li>test 3</li>
								<li>test 4</li>
								<li>test 5</li>
							</ul>
						</div>
						<div class="article">
							<ul>
								<li>test 1</li>
								<li>test 2</li>
								<li>test 3</li>
								<li>test 4</li>
								<li>test 5</li>
							</ul>
						</div>
						<div class="article">
							<ul>
								<li>test 1</li>
								<li>test 2</li>
								<li>test 3</li>
								<li>test 4</li>
								<li>test 5</li>
							</ul>
						</div>
						<div class="article">
							<ul>
								<li>test 1</li>
								<li>test 2</li>
								<li>test 3</li>
								<li>test 4</li>
								<li>test 5</li>
							</ul>
						</div>

					</div>


				</li>
				
				<li>
					<span class="menu-item">Option 2</span>

					<div class="submenu-container"></div>
				</li>
				
				<li>
					<span class="menu-item">Option 3</span>

					<div class="submenu-container"></div>
				</li>
				
				<li>
					<span class="menu-item">Option 4</span>

					<div class="submenu-container"></div>
				</li>
				
				<li>
					<span class="menu-item">Option 5</span>

					<div class="submenu-container"></div>
				</li>
				
				<li>
					<span class="menu-item">Option 6</span>

					<div class="submenu-container"></div>
				</li>
			</ul>


		</div>

		<div class="content">
			

			<div class="left-nav">
				

				<ul class="list-unstyled menu-links">
					<li>side link 1</li>
					<li>side link 2</li>
					<li>side link 3</li>
					<li>side link 4</li>
					<li>side link 5</li>
				</ul>

			</div>

		</div>

		<div>
			<ul class="nudger">
				<li>NUDGE ME 1</li>
				<li>NUDGE ME 2</li>
				<li>NUDGE ME 3</li>
				<li>NUDGE ME 4</li>
				<li>NUDGE ME 5</li>
				<li>NUDGE ME 6</li>
				<li>NUDGE ME 7</li>
				<li>NUDGE ME 8</li>
				<li>NUDGE ME 9</li>
				<li>NUDGE ME 10</li>
				<li>NUDGE ME 11</li>
				<li>NUDGE ME 12</li>
				<li>NUDGE ME 13</li>
				<li>NUDGE ME 14</li>
				<li>NUDGE ME 15</li>
				<li>NUDGE ME 16</li>
				<li>NUDGE ME 17</li>
				<li>NUDGE ME 18</li>
				<li>NUDGE ME 19</li>
				<li>NUDGE ME 20</li>
			</ul>
		</div>

	</div>

</body>
</html>