<html>
<head>
	<title>Layout</title>
	<link rel="stylesheet" href="site.css">
</head>
<body>
	
	<div class="container">
		

		<div class="menu-container">
			
			<ul class="list-unstyled list-inline menu">
				<li><span class="menu-item">Option 1</span></li>
				<li><span class="menu-item">Option 2</span></li>
				<li><span class="menu-item">Option 3</span></li>
				<li><span class="menu-item">Option 4</span></li>
				<li><span class="menu-item">Option 5</span></li>
				<li><span class="menu-item">Option 6</span></li>
			</ul>


		</div>

	</div>

</body>
</html>